<div>
    <title> {{language.riskdiceroller}} </title>
    <h1> {{language.riskdiceroller}} </h1>
    <ul>
        <li><a href="battle/"> {{language.Start_battle}} </a></li>
        <li><a href="territories/"> {{language.Distribute_territories}} </a></li>
        <li><a href="settings/"> {{language.Preferences}} </a></li>
        <li><a href="tutorial/"> {{language.Usage_guide}} </a></li>
    </ul>
</div>
