<div>
    <title> {{language.riskdiceroller}} </title>
    <h1> {{language.riskdiceroller}} </h1>
    <ul>
        <li><a href="battle/" data-modulename="battle"> {{language.Start_battle}} </a></li>
        <li><a href="territories/" data-modulename="territories"> {{language.Distribute_territories}} </a></li>
        <li><a href="settings/" data-modulename="settings"> {{language.Preferences}} </a></li>
        <li><a href="tutorial/" data-modulename="tutorial"> {{language.Usage_guide}} </a></li>
    </ul>
</div>
